@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Darker+Grotesque:wght@400;700&display=swap');
/* font-family: 'Amatic SC', cursive;
 font-family: 'Darker Grotesque', sans-serif; */


body {
    display: flex;
    flex-direction: row;
}

/*HEADER*/

header {
    width: 32%;
    height: 100vh;
    background-color: #B0C5BC;
    border-radius: 37px 0px 0px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pattern {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0px;
    object-fit: cover;
    z-index: 1;
    opacity: 30%;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #F0F1E4;
    font-weight: bold;
    margin: 8%;
    line-height: 50px;
    text-align: center;
}

header p {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #F0F1E4;
    font-weight: bold;
    margin: 0px;
    z-index: 2;
    text-align: center;
}

.photo {
    width: 80%;
    height: auto;
    object-fit: cover;
    z-index: 2;
}

/*INICIO PAGE*/

.firstPage {
    width: 58%;
    height: 100vh;
    background-color: #E2E7E3;
    position: relative;
}

.tabUp {
    background-color:  #F0F0F0;
    width: 100%;
    height: 10vh;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: none;
    display: flex;
    align-items: center;
    margin-top: 10vh;
}

.titleUp {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #343434;
    padding-left: 10%;
}

.txtPresentacion {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #343434;
    padding: 3% 10% 10% 10%;
    height: 56vh;
}

#secondTab {
    width: 100%;
    height:10vh;
    position: absolute;
    top: 0vh;
    overflow-y: hidden; 
    transition: height 5s, margin;
}

#secondTabActive {
    height: 100vh;
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#secondTab:hover{
    height: 100vh;
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.tabDown {
    width: 100%;
    height: 10vh;
    background-color: #E2E7E3;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tabDown:hover{
    background-color: #F0F0F0;
 }

 .tabDown:hover .titleDown{
    color: #343434;
}

.titleDown {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #B0C5BC;
    padding-left: 10%;
}

.txtActitud {
    width: 80%;
    height: 89vh;
    background-color: #F0F0F0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #343434;
    padding: 5% 10% 10% 10%;
    margin: 0%;
    position: relative;
}


/*NAV TABS*/

#navMobile {
    display: none;
}

nav {
    width: 10%;
    height: 100vh;
    background-color: #343434;
    border-radius: 0px 37px 0px 0px;
    display: flex;
    flex-direction: column;
}

.navButtonActive {
    width: 7vw;
    height: 6vw;
    background-color: #C4E7D7;
    border-radius: 0px 10px 10px 0px;
    border: none;
    position: relative;
    margin-top: 10%;
    top: 7%;
    cursor: pointer;
}

.icoButtonActive {
    width: 85%;
    height: auto;
    position: absolute;
    z-index: 2;
    top: 11%;
    left: 7%;
}

.envelopeFrontActive {
    width: 7vw;
    height: 3.3vw;
    background-color: #C4E7D7;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 0px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 0%;
}

.navButton {
    width: 7vw;
    height: 6vw;
    background-color: #343434;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #C4E7D7;
    position: relative;
    margin-top: 10%;
    top: 7%;
    cursor: pointer;
}

.icoButton {
    width: 85%;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 11%;
    left: 7%;
}

.envelopeFront {
    width: 7vw;
    height: 3.3vw;
    background-color: #343434;
    box-shadow: 0px -2px 4px rgba(196, 231, 215, 0.4);
    border-radius: 0px 0px 10px 0px;
    position: absolute;
    z-index: 2;
    bottom: 0%;
    left: 0%;
}

.icoButton:hover {
    transform: translate(0px,-35px);
    -moz-transform: translate(0px,-35px);
    transition-duration: 1.2s;
    z-index: 2;
    box-shadow: 0px 0px 14px 3px #C4E7D7;
}

.txtNavTab {
    width: 80%;
    background-color: #E2E7E3;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #343434;
    padding: 5% 10% 10% 10%;
    position: relative;
    overflow: hidden;
}

/*ANOTHER PAGES*/

.datosDiv {
    height: 65vh;
    margin-top: 3%;
    overflow-y: scroll;
    scrollbar-width: none;
    cursor: url("./img/cursorMouseBN.svg"), all-scroll;
}

.txtExperiencia{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #343434;
    padding: 3% 10% 10% 10%;
    height: 6vh;
}

.subtitle {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #343434;
    padding: 0% 10% 0% 10%;
    margin: 3% 0% 0% 0%;
}
 .textDatos {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #343434;
    padding: 0% 10% 0% 10%;
    margin: 1% 0% 2% 2%;
 }

 a:link {
     color: #343434;
     text-decoration: none;
 }

 a:visited {
     color: #343434;
 }

 a:hover {
     color:#B0C5BC;
 }
 
 /*SCROLLBAR STYLES*/


.datosDiv::-webkit-scrollbar {
    width: 8px;
  }
  
   /* Estilos barra (thumb) de scroll */
  .datosDiv::-webkit-scrollbar-thumb {
    background: #B0C5BC;
    border-radius: 5px;
  }
  
   /* Estilos track de scroll */
  .datosDiv::-webkit-scrollbar-track {
    background: #F0F0F0;
    border-radius: 5px;
  }
  
/*BARRA PROGRESO*/

.txtBarra{
    width: 30%;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #343434;
    margin: 1%;
}

.datosHerramientas {
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
}


.barraContenedora{
    width: 58%;
    height: 2vh;
    background-color: #B0C5BC;
    border-radius: 15vw;
    position: relative;
}

.barra{
    height: 2vh;
    background-color: #343434;
    border-radius: 15vw;
    position: absolute;
}
  
.datosIdiomas {
    margin-top: 6%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
}

/*MEDIA QUERIES*/

@media (max-width: 992px){
    h1 {
        font-size: 40px;
        line-height: 39px;
    }
    
    header p {
        font-size: 40px;
    }

    .txtPresentacion {
        font-size: 15px;
        padding: 0% 10% 10% 10%;
    }

    .tabUp {
        height: 8vh;
        margin-top: 8vh;
    }

    .titleDown {
        font-size: 18px;
    }

    .tabDown {
        height: 8vh;
    }

    .titleUp {
        font-size: 18px;
    }

    .txtActitud {
        font-size: 15px ;
    }

    .txtExperiencia{
        font-size: 15px;
    }

    .barra {
        height: 1.5vh;
    }

    .barraContenedora {
        width: 51%;
        height: 1.5vh;
    }
    
    .txtBarra {
        width: 37%;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    h1 {
        font-size: 30px;
        line-height: 38px;
    }

    header p {
        font-size: 30px;
    }

    .txtExperiencia {
        padding: 3% 10% 19% 10%;
    }

    .subtitle {
        font-size: 15px;
    }
    
    .txtBarra {
        width: 38%;
        font-size: 15px;
    }

    .barraContenedora {
        width: 50%;
        height: 1vh;
    }

    .barra {
        height: 1vh;
    }
      
}

@media screen and (min-width: 240px) and (max-width: 575px) {
    
    body {
        flex-direction: column;
    }

    header {
        width: 100vw;
        height: 80vh;
        border-radius: 0px 0px 0px 0px;
    }

    h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .photo {
        width: 65%;
    }
    
    header p {
        font-size: 45px;
    }

    .pattern {
        height: 47%;
    }

    nav {
       display: none;
    }

    #navMobil {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #343434;
        width: 100vw;
        height: 20vh;
        border-radius: 0px;
    }
    
    .dropUpMenu {
        width: 20vw;
        height: 20vw;
        border: solid 1px #C4E7D7;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tabMobil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60vw;
        height: 20vw;
        background-color: transparent;
        border: none;
    }

    .dropUp {
        width: 60vw;
        height: 10vw;
        background-color: transparent;
        border: solid 1px #C4E7D7;
        text-align: left;
        color: #C4E7D7;
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 18px;
        font-weight: 400;
        position: relative;
    }

    .txtDropUp {
        display: none;
        position: absolute;
        bottom: 22px;
        left: -1px;
        z-index: 2;
        font-size: 13px;
        background-color: #E2E7E3;
        color: #343434;
        border: solid 1px #343434;
        padding: 6%;
        border-radius: 14px 14px 0px 0px;
    }

    .showTxt {
        display: block;
    }
}


@media screen and (min-width: 200px) and (max-width: 319px){
    h1 {
        font-size: 25px;
        line-height: 25px;
    }

    header p{
        font-size: 25px;
    }

    .photo {
        width: 52%;
    }

    .dropUpMenu {
        width: 15vw;
        height: 15vw;
    }

    .tabMobil {
        height: 15vw;
    }

    .dropUp {
        font-size: 10px;
    }

    .txtDropUp {
        bottom: 7px;
        left: -36px;
        font-size: 10px;
        padding: 2%;
        border-radius: 7px 7px 0px 0px;
        width: 121%;
    }

    .pattern {
        height: 42%;
    }

    .dropUpMenu > img:nth-child(1) {
        width: 1.3em;
    }
}